.header-container {
  background-color: #f5db13;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 10px -10px;

  .header-container__row {
    height: 93px;
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
