.menu-burger__overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  right: 0;

  &.menu-burger__overlay_show {
    display: block;
  }

  &.menu-burger__overlay_hide {
    display: none;
  }
}

.menu-burger__content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: #f5db13;
  height: 100%;
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  transition: transform 0.5s;
  box-sizing: border-box;

  &.menu-burger__open {
    transform: translateX(0px);
  }

  &.menu-burger__close {
    transform: translateX(400px);
  }

  .menu-burger__btn_close {
    position: relative;

    button {
      border: none;
      margin: 14px;
      padding: 5px;
      background-color: transparent;
      position: absolute;
    }

    .logo__mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 5px;

      img {
        width: 150px;
        height: 54px;
      }
    }
  }

  .header-container__nav {
    justify-content: center;

    .header-container__nav__list {
      list-style: none;
      display: block;
      text-align: center;
    }
  }

  .menu-burger__header {
    padding-top: 20px;
  }
}
